{% extends'MuzikSpiritBackBundle:Partial:content.html.twig' %}
{% block menu_navigation %}{{ include('MuzikSpiritBackBundle:Partial:top_navigation.html.twig', { 'action': path('muzikspirit_back_news_searchforward') , 'find' : find | default('') }) }}{% endblock %}
{% block contentwrap %}
    {%  if app.session.get('alert') is not empty %}
        <div class="alert alert-dark alert-app.session.get('alert').criticity">
            {{ app.session.get('alert').message }}
        </div>
    {% endif %}
{% endblock %}