{% extends "MuzikSpiritBackBundle::layout.html.twig" %}

{% block main_menu %}{% endblock %}
        {% block menu_navigation %}{% endblock %}
{% block titlepage %}
    <i class="fa fa-power-off"></i> Authentification
{% endblock  %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}